@using System.Web.Http
@using System.Web.Http.Description
@using RedisSolution.Areas.HelpPage.Models
@using RedisSolution.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;

    string urlexample = description.RelativePath + "/" + Model.ApiDescription.ActionDescriptor.ActionName;
}
<h1>请求类型：@(description.HttpMethod.Method)</h1>
<h1>Url：@(urlexample)</h1>
<div>

    @if (Model.RequestModelDescription != null)
    {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>无</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>请求格式：</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }



    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>无</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>Response Formats</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>