@section styles{
    <link href="@Url.Content("~/Content/assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/bootstrap/css/bootstrap-fileupload.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/font-awesome/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/style_responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/style_default.css")" rel="stylesheet" id="style_color" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/chosen-bootstrap/chosen/chosen.css")" />
    <link href="@Url.Content("~/Content/assets/fancybox/source/jquery.fancybox.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/uniform/css/uniform.default.css")" />
}
<div class="row-fluid">
    <div class="span12">
        <div class="widget box blue" id="form_wizard_1">
            <div class="widget-title">
                <h4>
                    <i class="icon-reorder"></i> Form Wizard - <span class="step-title">Step 1 of 4</span>
                </h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
            </div>
            <div class="widget-body form">
                <form action="#" class="form-horizontal">
                    <div class="form-wizard">
                        <div class="navbar steps">
                            <div class="navbar-inner">
                                <ul class="row-fluid nav nav-pills">
                                    <li class="span3 active">
                                        <a href="#tab1" data-toggle="tab" class="step active">
                                            <span class="number">1</span>
                                            <span class="desc"><i class="icon-ok"></i> Step 1</span>
                                        </a>
                                    </li>
                                    <li class="span3">
                                        <a href="#tab2" data-toggle="tab" class="step">
                                            <span class="number">2</span>
                                            <span class="desc"><i class="icon-ok"></i> Step 2</span>
                                        </a>
                                    </li>
                                    <li class="span3">
                                        <a href="#tab3" data-toggle="tab" class="step">
                                            <span class="number">3</span>
                                            <span class="desc"><i class="icon-ok"></i> Step 3</span>
                                        </a>
                                    </li>
                                    <li class="span3">
                                        <a href="#tab4" data-toggle="tab" class="step">
                                            <span class="number">4</span>
                                            <span class="desc"><i class="icon-ok"></i> Final Step</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="bar" class="progress progress-striped">
                            <div class="bar" style="width: 25%;"></div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <h3>Fill up step 1</h3>
                                <div class="control-group">
                                    <label class="control-label">Username</label>
                                    <div class="controls">
                                        <input type="text" class="span6">
                                        <span class="help-inline">Give your username</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email</label>
                                    <div class="controls">
                                        <input type="password" class="span6">
                                        <span class="help-inline">Give your Email</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <h4>Fill up step 2</h4>
                                <div class="control-group">
                                    <label class="control-label">First Name</label>
                                    <div class="controls">
                                        <input type="text" class="span6">
                                        <span class="help-inline">Give your First Name</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Last Name</label>
                                    <div class="controls">
                                        <input type="text" class="span6">
                                        <span class="help-inline">Give your Last Name</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Phone Number</label>
                                    <div class="controls">
                                        <input type="text" class="span6">
                                        <span class="help-inline">Give your phone number</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <h4>Fill up step 3</h4>
                                <div class="control-group">
                                    <label class="control-label">Text Input</label>
                                    <div class="controls">
                                        <input type="text" class="span6">
                                        <span class="help-inline"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Checkbox and radio Options</label>
                                    <div class="controls">
                                        <label class="checkbox line">
                                            <div class="checker" id="uniform-undefined"><span><input type="checkbox" value="" style="opacity: 0;"></span></div> Lorem ipsum dolor imti
                                        </label>
                                        <label class="radio line">
                                            <div class="radio" id="uniform-undefined"><span><input type="radio" value="" style="opacity: 0;"></span></div> Duis autem vel eum iriure dolor in hendrerit
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <h4>Final step</h4>
                                <div class="control-group">
                                    <label class="control-label">Fullname:</label>
                                    <div class="controls">
                                        <span class="text">Mosaddek Hossain</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email:</label>
                                    <div class="controls">
                                        <span class="text">dkmosa@gmail.com</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Phone:</label>
                                    <div class="controls">
                                        <span class="text">123456789</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <div class="checker" id="uniform-undefined"><span><input type="checkbox" value="" style="opacity: 0;"></span></div> I confirm my steps
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions clearfix">
                            <a href="javascript:;" class="btn button-previous" style="display: none;">
                                <i class="icon-angle-left"></i> Back
                            </a>
                            <a href="javascript:;" class="btn btn-primary blue button-next" style="display: inline-block;">
                                Continue <i class="icon-angle-right"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-success button-submit" style="display: none;">
                                Submit <i class="icon-ok"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-3.2.1.browser.min.js")"></script>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="@Url.Content("~/Content/assets/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/assets//bootstrap-wizard/jquery.bootstrap.wizard.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.blockui.js")"></script>
    <!-- ie8 fixes -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/js/excanvas.js")"></script>
    <script src="@Url.Content("~/Content/js/respond.js")"></script>
    <![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Content/assets//chosen-bootstrap/chosen/chosen.jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets//uniform/jquery.uniform.min.js")"></script>
}